<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code review service</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block head_extra %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary"> <!-- Изменение фона и цвета текста -->
    <a class="navbar-brand" href="{% url 'home' %}" style="color: #191970;">Code Review Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Выравнивание пунктов меню по правому краю -->
            {% if user.is_authenticated %}
            <!-- Если пользователь авторизован: -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload_file' %}">Upload File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'file_list' %}">My Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" >Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


    <div class="container mt-5">
         {% if messages %}
        <div class="messages mt-2">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
    </div>
    {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Подключение Bootstrap JS и Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    {% if messages %}
        {% for message in messages %}
            {% if message.message == "show_error_modal" %}
                <script>
                    $(document).ready(function() {
                        $('#errorModal').modal('show');
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}


    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Something went wrong 😞</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% block scripts %}{% endblock %}

</body>
</html>
