{% extends "base.html" %}

{% block content %}
  <h2>Your Files</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Uploaded</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file.name }}</td>
          <td>{{ file.date_created }}</td>
          <td>
            <a href="{% url 'view_file' file.id %}" class="btn btn-info">View</a>
            <a href="{% url 'edit_file' file.id %}" class="btn btn-warning">Edit</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-fileid="{{ file.id }}" data-filename="{{ file.name }}">Delete</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the file <span id="fileName"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form id="deleteForm" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>

  $(document).ready(function(){
      $('#deleteModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget);
          var fileId = button.data('fileid');
          var fileName = button.data('filename');

          var modal = $(this);
          modal.find('#fileName').text(fileName);
          modal.find('#deleteForm').attr('action', '/path-to-delete-function/' + fileId + '/');
      });
  });
  </script>
{% endblock %}
