{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">Upload File</h2>
  <!--enctype="multipart/form-data" необходим для отправки файлов через форму-->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="fileInput">Choose a file</label>
            {{ form.file }}
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}
